html {
    font-family: 'Josefin Sans', sans-serif;
}
#map {
    width: 100%;
    height: 550px;
}
#instructions {
    background-color: rgb(29, 126, 161);
    width: 100%;
    height: 100%;
    padding: 20px;
}
#container {
    padding: 72px 25px;
    background-size: cover;
    width: 100%;
    height: 60px;
    position: relative;
}
#coverinfo {
    height: 300px;
}
#floating-panel {
    background-color: black;
    z-index: 5;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    padding-left: 10px;
}

#dropdownMenu {
    height: 17px;
    width: 17px;
}

#addBidet {
    padding: 20px;
}

#submitBidet {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*NavBar Styling reference http://www.w3schools.com/bootstrap/bootstrap_theme_band.asp*/
/* Add a dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    background-color: #2E3092 !important;
    border: 0;
    font-size: 13px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
/* Add a gray color to all navbar links */
.navbar li a,
.navbar .navbar-brand {
    color: white !important;
}
/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}
/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    background-color: rgba(255, 255, 255, 0.53) !important;
}
/* Dropdown */
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}
/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: grey !important;
}
/*Footer Styling*/
/* Add a dark background color to the footer */
footer {
    background-color: #67BCDB;
    color: #f5f5f5;
    padding: 5px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
/* Add a dark gray background color to the modal header and center text */
.modal-header,
.modal-header h4,
.modal-header .close {
    background-color: #243D69;
    color: white !important;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}
.modal-header,
.modal-body {
    padding: 40px 50px;
    z-index: 100;
}
.modal-backdrop {
    z-index: 0;
}



/* login modal */

@import url(https://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}
